.register_page {
    justify-content: center;
    display: flex;
    height: 100%;
    align-items: center;
}

.register_page form {
    width: 600px;
    padding-right: 50px;
    height: fit-content;
}
