@import '~antd/dist/antd.css';

#root {
  height: 100%;
}

.ant-layout {
  height: 100%;
}

.app_container {
  height: calc(100% - 100px);
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
