header {
    background-color: #1990ff;
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}

.header_navigation ul {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.header_navigation li {
    display: inline-block;
    padding: 9px 12px;
    background: transparent;
}

.header_navigation li a {
    color: #fff;
    opacity: 0.85;
    text-decoration: none;
    border-bottom: 2px solid #1990ff;
    font-size: 16px;
    font-weight: bold;
    transition: opacity .2s ease;
}

.header_navigation li .selected,
.header_navigation li:hover a {
    color: #fff;
    opacity: 1;
    border-bottom: 2px solid #fff;
}

.header_navigation li:not(:first-child) {
    margin-left: 20px;
}
