.main_layout .ant-menu-item a {
    display: inline-block;
    color: rgb(200, 199, 199);
}

.main_layout .ant-menu-inline-collapsed .ant-menu-item a {
    display: none;
}

.main_layout .ant-menu-item a.selected {
    color: #fff;
}
