.trade__page .trade__page_spinner {
    text-align: center;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
}

.trade__page .trade__page_header {

}

.trade__page .trade__page_spinner .ant-spin-dot {
    width: 64px;
    height: 64px;
}

.trade__page .trade__page_spinner .ant-spin-dot i {
    width: 32px;
    height: 32px;
}