.trade__pair {
    margin: 20px 0;
}

.trade__pair_show {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.trade__pair_editing {

}

.trade__field.trade__field_date {flex: 0 135px;}
.trade__field.trade__field_currency {flex: 0 75px;font-weight: bold;}
.trade__field.trade__field_price {flex: 0 200px;}

.trade__pair_editing .ant-input.trade__input.trade__input_error {
    border-color: #1990ff;
    outline: none;
}

.trade__pair_editing .ant-input.trade__input.trade__input_right {
    color: green;
    border-color: green;
}

.trade__pair_editing .ant-input.trade__input.trade__input_left {
    color: red;
    border-color: red;
}

.trade__pair_editing .ant-select-dropdown-menu {
    width: 110px;
}

.trade__pair_editing .ant-select-selection {
    margin-right: 10px;
}

.trade__pair_editing .ant-btn {
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.trade__pair_editing .ant-alert.ant-alert-error {
    margin-top: 15px;
    width: 40%;
}